body {
    background-color: #3a4e7a;
}

#main-container {
    text-align: center
}


h1 {
    font-family: 'STARWARS';
    text-align: center;
    font-size: 50pt;
}

#start {
    text-align: center;
}



#jumbo-paragraph {
    text-align: center;
}

footer {
    text-align: center;
}

.btn {
    background-image: (assets-folder/images/UsetheForce_3in_ROUND_original.jpg);
}
